body,html {
        padding: 0;
        margin: 0;
        background-color: green;
        height: 100%;
      }
      .box {
        background-color: yellow;
        width: 50%;
        height: 50%;
        padding: 20px 10px;
      }
      .inside-box {
        background-color: blue;
        width: 50%;
        height: 50%;
        border: 5px dashed black;
      }